@model IEnumerable<Teste.Models.AuditLog>

@{
    ViewData["Title"] = "Audit Logs";
}

<h1>Audit Logs</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuditDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEmail)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuditDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>            
        </tr>
}
    </tbody>
</table>
